.button {
    -fx-background-color: rgba(236, 245, 255, 1);
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-color: rgba(179, 216, 255, 1) rgba(179, 216, 255, 1) rgba(179, 216, 255, 1) rgba(179, 216, 255, 1);
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-text-fill: rgba(64, 158, 255, 1);
    -fx-font-size: 15px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-cursor: HAND;
}
.button:hover {
    -fx-background-color: rgba(64, 158, 255, 1);
    -fx-border-color: rgba(64, 158, 255, 1) rgba(64, 158, 255, 1) rgba(64, 158, 255, 1) rgba(64, 158, 255, 1);
    -fx-text-fill: rgba(255, 255, 255, 1);
}
.button:pressed {
    -fx-background-color: rgba(58, 142, 230, 1);
    -fx-border-color: rgba(58, 142, 230, 1) rgba(58, 142, 230, 1) rgba(58, 142, 230, 1) rgba(58, 142, 230, 1);
    -fx-text-fill: rgba(255, 255, 255, 1);
}